.isSticky {
    opacity: 0.6;
    font-size: 14px;
}

.appHeader {
    background-color: #0a1a2d;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    transition: all 0.4s;
}
